<!-- <section class="page">
    <div class="inner">
        <div class="evaluation-content">
            <h1>¿QUÉ QUERÉS APRENDER?</h1>     
                <div class="search-bar">
                    <button type="submit" class="search-button">
                    <img src="/img/icon_search.svg" alt="Search Icon" width="20" height="20">
                    </button>
                <input type="text" placeholder="Ej: Alimentación intuitiva" class="search-input">
            </div>
        </div>
    </div>
</section>

<section class="sec-nutrition-lifestyle">

    <div class="nutrition-lifestyle-inner">

        <h3>Nutrición y Estilo de Vida</h3>
        <p>Explora temas clave relacionados con una alimentación equilibrada y las últimas tendencias en salud. Aprende cómo implementar hábitos sostenibles que impacten positivamente tu bienestar general.</p>

        <div class="cards-row">
            <div class="nutrition-card" onclick="openPopupArticuloBlog()">
                <img src="/img/img_alimentacion-intuitiva.png" alt="Alimentación intuitiva">
                <h3>Alimentación intuitiva</h3>
            </div>
            <div class="nutrition-card">
                <img src="/img/img_nutricion-vs-salud-mental.png" alt="Nutrición vs salud mental">
                <h3>Nutrición vs salud mental</h3>
            </div>
            <div class="nutrition-card">
                <img src="/img/img_mitos-de-dietas-populares.png" alt="Mitos de dietas populares">
                <h3>Mitos de dietas populares</h3>
            </div>
            <div class="nutrition-card">
                <img src="/img/img_suplementos-necesarios.png" alt="Suplementos: ¿necesarios?">
                <h3>Suplementos: ¿necesarios?</h3>
            </div>
        </div>

        <h3>Nutrición y Estilo de Vida</h3>
        <p>Explora temas clave relacionados con una alimentación equilibrada y las últimas tendencias en salud. Aprende cómo implementar hábitos sostenibles que impacten positivamente tu bienestar general.</p>

        <div class="cards-row">
            <div class="nutrition-card">
                <img src="/img/img_alimentacion-intuitiva.png" alt="Alimentación intuitiva">
                <h3>Alimentación intuitiva</h3>
            </div>
            <div class="nutrition-card">
                <img src="/img/img_nutricion-vs-salud-mental.png" alt="Nutrición vs salud mental">
                <h3>Nutrición vs salud mental</h3>
            </div>
            <div class="nutrition-card">
                <img src="/img/img_mitos-de-dietas-populares.png" alt="Mitos de dietas populares">
                <h3>Mitos de dietas populares</h3>
            </div>
            <div class="nutrition-card">
                <img src="/img/img_suplementos-necesarios.png" alt="Suplementos: ¿necesarios?">
                <h3>Suplementos: ¿necesarios?</h3>
            </div>
        </div>

    </div>
    
</section>

<section class="pop-up-info-articulo">

    <div class="pop-up-info-articulo-inner">
    
        <img src="/img/img_almendras.png">

        <h1>¿Qué le pasa a tu cuerpo si comés almendras todos los días?</h1>

        <h3>Escrito por todo el equipo de Zeta</h3>

        <hr>

        <span>Miércoles 9 de Octubre</span>

        <p>El consumo cotidiano de almendras puede ser una buena manera de prevenir enfermedades cardíacasLas almendras son un fruto seco delicioso y nutritivo, originario del Medio Oriente, que aporta una gran cantidad de beneficios para la salud.
        La parte comestible es la semilla, envuelta por una película de color canela y protegida por una cáscara dura que no se consume.Sin embargo, algunas personas se preguntan sobre el consumo diario de cierto fruto; aquí te contamos.¿Qué pasa si comés almendras todos los días?
        De acuerdo con la Administración de Alimentos y Medicamentos de los Estados Unidos, el consumo cotidiano de almendras puede ser una buena manera de prevenir enfermedades cardíacas.La presencia de vitamina E en números considerables podría explicar este fenómeno, según Mark B. McClellan, secretario de la Administración de Drogas y Alimentos del mismo país.Además, un estudio publicado por el Multidisciplinary Digital Publishing Institute (MDPI) de Suiza concluyó que una ingesta diaria de almendras es capaz de reducir considerablemente el riesgo de problemas cardiovasculares y disminuir los niveles de colesterol malo en sangre.
        Las almendras pueden ser compradas en los supermercados y tiendas de productos naturales, pudiendo consumirse al natural o mezclada con cereales, granolas, en ensaladas e incluso se pueden agregar a los batidos. Asimismo, también es posible conseguirla en otros productos como leche de almendra, crema o manteca de almendra y harina de almendra.
        </p>

        <img src="/img/img_lechealmendras.png">

        <p>La almendra es posible conseguirla en productos como leche de almendra, crema o manteca de almendra y harina de almendra</p>

        <h3>Nutrición y Estilo de Vida</h3>
            
        <div class="cards-row">
            <div class="nutrition-card">
                <img src="/img/img_alimentacion-intuitiva.png" alt="Alimentación intuitiva">
                <h3>Alimentación intuitiva</h3>
            </div>
            <div class="nutrition-card">
                <img src="/img/img_nutricion-vs-salud-mental.png" alt="Nutrición vs salud mental">
                <h3>Nutrición vs salud mental</h3>
            </div>
            <div class="nutrition-card">
                <img src="/img/img_mitos-de-dietas-populares.png" alt="Mitos de dietas populares">
                <h3>Mitos de dietas populares</h3>
            </div>
            <div class="nutrition-card">
                <img src="/img/img_suplementos-necesarios.png" alt="Suplementos: ¿necesarios?">
                <h3>Suplementos: ¿necesarios?</h3>
            </div>
        </div>
    </div>


</section> -->

<section class="page">
    <div class="inner">
        <div class="evaluation-content">
            <h1>¿QUÉ QUERÉS APRENDER?</h1>
            <div class="search-bar">
                <button type="submit" class="search-button">
                    <img src="/img/icon_search.svg" alt="Search Icon" width="20" height="20">
                </button>
                <input type="text" placeholder="Ej: Alimentación intuitiva" class="search-input">
            </div>
        </div>
    </div>
</section>

<section class="sec-nutrition-lifestyle">
    <div class="nutrition-lifestyle-inner">
        <h3>Nutrición y Estilo de Vida</h3>
        <p>Explora temas clave relacionados con una alimentación equilibrada y las últimas tendencias en salud. Aprende cómo implementar hábitos sostenibles que impacten positivamente tu bienestar general.</p>

        <div class="cards-row">
            @foreach (var post in ViewData["UserPosts"] as List<Posts>)
            {
                <div class="nutrition-card" onclick="openPopupArticuloBlog('@post.titulo_post', '@post.contenido_post', '@post.imagen_url', '@post.fecha_creacion')">
                    <img src="/img/@post.imagen_url" alt="Imagen del post" class="community-card-image">
                    <h3 class="community-card-text">@post.titulo_post</h3>
                </div>
            }
        </div>
    </div>
</section>

<section class="pop-up-info-articulo" style="display: none;">
    <div class="pop-up-info-articulo-inner">
        <img id="popupImage" src="" alt="Post Image">
        <h1 id="popupTitle"></h1>
        <h3>Escrito por todo el equipo de Zeta</h3>
        <hr>
        <span id="popupFecha"></span>
        <p id="popupContenido"></p>
    </div>
</section>


<script>
    
    function openPopupArticuloBlog(titulo, contenido, imagenUrl, fechaCreacion) {
        document.getElementById("popupTitle").innerText = titulo;
        document.getElementById("popupContenido").innerText = contenido;
        document.getElementById("popupImage").src = `/img/${imagenUrl}`;
        console.log("aca esta la " + imagenUrl);
        document.getElementById("popupFecha").innerText = fechaCreacion;

        document.querySelector(".pop-up-info-articulo").style.display = "flex";
        document.querySelector(".sec-nutrition-lifestyle").style.display = "none";
        document.querySelector(".page").style.display = "none";
    }

    function closePopupArticuloBlog() {
        document.querySelector(".pop-up-info-articulo").style.display = "none";
        document.querySelector(".sec-nutrition-lifestyle").style.display = "block";
        document.querySelector(".page").style.display = "block";
    }
</script>