<section class="community-section">
    <div class="inner-community">
        <h1 class="community-title">Comunidad</h1>
        <div class="community-cards-container">
            @foreach (var post in ViewBag.Posts as List<Posts>)
            {
                <div class="community-card">
                    <img src="@post.imagen_url" alt="Imagen del post" class="community-card-image">

                    <div class="bottom-community-card">
                        <p class="community-card-text">@post.contenido_post</p>
                        <span class="community-time-posted">
                            @post.fecha_creacion.ToShortDateString() por @post.Autor
                        </span>

                        <div class="community-card-footer">
                            <form action="/Home/DarLike" method="post">
                                <input type="hidden" name="idPost" value="@post.id_post" />
                                <button type="submit" class="like-button">
                                    <img src="/img/icon_like.svg" class="img-like">
                                    <span>@post.Likes</span>
                                </button>
                            </form>
                            <form action="/Home/DarDislike" method="post">
                                <input type="hidden" name="idPost" value="@post.id_post" />
                                <button type="submit" class="dislike-button">
                                    <img src="/img/icon_dislike.svg" class="img-dislike">
                                    <span>@post.Dislikes</span>
                                </button>
                            </form>
                            <button class="button-comments" onclick="openCommentsPopup(this)">
                                <img src="/img/icon_comments.svg">
                                <span>214</span>
                            </button>
                            <button class="button-share" onclick="openSharePopup()">
                                <img src="/img/icon_share.svg">
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<button class="button-add-post" onclick="openPopup()">
    <img src="/img/icon_button_add.svg">
</button>

<div id="postPopup" class="popup-container" style="display: none;">
    <div class="popup-content">
        <img src="/img/icon_close.svg" class="close-btn" onclick="closePopup()">
        <div class="top-pop-up-add-post">
            <textarea id="postInput" name="comments" placeholder="¿Qué quieres decir?"></textarea>
            <button class="button-select-img">
                <img src="/img/icon_img.svg">
            </button>
        </div>
        <button class="publish-btn">Publicar</button>
    </div>
</div>

<!-- Popup para comentarios -->
<div id="commentsPopup" class="popup-container" style="display: none;">
    <div class="popup-comments-content">
        <img src="/img/icon_close.svg" class="close-btn" onclick="closeCommentsPopup()">
        <h2>Comentarios</h2>
        <div id="commentsList">
            <div class="comment-item">
                <p><strong>Usuario1:</strong> Este es un comentario ejemplo.</p>
            </div>
        </div>
        <textarea id="newCommentInput" placeholder="Añadir un comentario..."></textarea>
        <button class="publish-comment-btn">Publicar comentario</button>
    </div>
</div>

<!-- Popup para compartir -->
<div id="sharePopup" class="popup-container" style="display: none;">
    <div class="popup-share-content">
        <img src="/img/icon_close.svg" class="close-btn" onclick="closeSharePopup()">
        <h2>¡Comparte este post!</h2>
        <div class="share-options">
            <a href="#" target="_blank">
                <img src="/img/icon_whatsapp.svg" alt="WhatsApp">
            </a>
            <a href="#" target="_blank">
                <img src="/img/icon_mail.svg" alt="Email">
            </a>
        </div>
    </div>
</div>

